<p id="lo">
  Log Off
</p>

<div id="iconGroup">

  <div class="row">

    <div class="col-md-3">
      <a href="https://fscd4.azurewebsites.net">
        <div class="card" >
          <i class="fas fa-thumbs-down"></i>
          <div class="card-body">
            <p class="card-text">Dispute</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <div class="card nmTop" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-dollar-sign"></i>
        <div class="card-body">
          <p class="card-text">Cash</p>
        </div>
      </div>
    </div>



    <div class="col-md-3">
        <div class="card" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-envelope"></i>
          <div class="card-body">
            <p class="card-text">Correspondence</p>
          </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-folders"></i>
          <div class="card-body">
            <p class="card-text">Collections</p>
          </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card row2" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-money-bill-wave"></i>
          <div class="card-body">
            <p class="card-text">Credit<br>Management</p>
          </div>
        </div>
    </div>

    <!-- <div class="col-md-3">
        <div class="card row2" data-toggle="modal" data-target="#exampleModal">
            <i class="far fa-envelope-open-dollar"></i>
          <div class="card-body">
            <p class="card-text">Cash<br>Application</p>
          </div>
        </div>
    </div> -->

    <div class="col-md-3">
        <div class="card row2" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-chart-network"></i>
          <div class="card-body">
            <p class="card-text">Customer<br>Dashboard</p>
          </div>
        </div>
    </div>

    <!-- <div class="col-md-3">
        <div class="card row2" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-file-chart-line"></i>
          <div class="card-body">
            <p class="card-text">Custom<br>Reports</p>
          </div>
        </div>
    </div> -->

    <div class="col-md-3">
        <div class="card row2" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-funnel-dollar"></i>
          <div class="card-body">
            <p class="card-text">Cash and<br>Liquidity Forecast</p>
          </div>
        </div>
    </div>

    <!-- <div class="col-md-3">
        <div class="card row2" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-hand-holding-usd"></i>
          <div class="card-body">
            <p class="card-text">Credit</p>
          </div>
        </div>
    </div> -->


  </div>

  

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          Please contact Karmeeka Account Manager to activate the functionality or send email to sales@karmeeka.com for demo of functionality.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>