        <table class="table table-bordered table-active">
          <thead>
            <tr>
              <th scope="col" class="pTop">Customer ID</th>
              <th scope="col" class="pTop">Customer Name</th>
              <th scope="col" class="pTop">Person Responsible</th>
              <th scope="col" class="pTop">Email ID</th>
              <th scope="col" class="pTop">Phone #</th>
              <th scope="col" class="pTop">Correspondence</th>
              
            </tr>
          </thead>
        </table>
        <select name="options">
            <option value="dc">Dispute Correspondence</option>
            <option value="rai">Request for Additional Info</option>
            <option value="ddl">Dispute Denial letter</option>
            <option value="ddcd">Dispute Denial- Cash Discount</option>
            <option value="dal">Dispute Approval Letter</option>
        </select>
  
    