<app-navbar></app-navbar>

<!-- <button type="button" class="btn btn-primary" id="dispute" routerLink="/">Dispute</button> -->
<!-- <i class="fas fa-home"></i> -->

<div class="container">
    <nav class="navbar navbar-light " id="N1">
  
          <button class="btn" type="button" id="B5">Add Attachments</button>
          <button class="btn" type="button" id="B6">Notes</button>
          <button class="btn" type="button" id="B7">Email</button>
          <button class="btn" type="button" id="B8">Escalate</button>
          <button class="btn" type="button" id="B9">Update</button>
          <button class="btn" type="button" id="B10">Send <br>Correspondence</button>
    </nav>
    <app-table2></app-table2>
</div>
