<p>
  Log Off
</p>

<div id="buttonGroup">


      <!-- <button type="button" class="btn btn-primary" id="B1">Cash</button>



      <button type="button" class="btn btn-secondary" id="B2" routerLink="/screen2">Dispute</button>



      <button type="button" class="btn btn-success" id="B3" >Correspondence</button>


   
      <button type="button" class="btn btn-danger" id="B4">Credit <br> Management</button> -->

      <div class="row" id="R1">

        <div class="col-lg-3">
              <button type="button" class="btn btn-primary" id="B1" data-toggle="modal" data-target="#exampleModal">Cash</button>
        </div>

        <div class="col-lg-3">
            <button type="button" class="btn btn-secondary" id="B2"><a href="https://fscd5.azurewebsites.net/">Dispute</a></button>
        </div>

        <div class="col-lg-3">
          <button type="button" class="btn btn-success" id="B3" routerLink="/screen2">Correspondence</button>
        </div>
  

        <div class="col-lg-3">
          <button type="button" class="btn btn-danger" id="B4" data-toggle="modal" data-target="#exampleModal">Credit <br> Management</button>
        </div>

        <div class="col-lg-3">
            <button type="button" class="btn btn-primary" id="B5" data-toggle="modal" data-target="#exampleModal">Cash Application</button>
        </div>

        <div class="col-lg-3">
            <button type="button" class="btn btn-secondary" id="B6" data-toggle="modal" data-target="#exampleModal">Customer<br>Dashboard</button>
        </div>

        <div class="col-lg-3">
          <button type="button" class="btn btn-success" id="B7" data-toggle="modal" data-target="#exampleModal">Custom Reports</button>
        </div>


        <div class="col-lg-3">
          <button type="button" class="btn btn-danger" id="B8" data-toggle="modal" data-target="#exampleModal">Cash and<br>Liquidity Forecast</button>
        </div>

        <div class="col-lg-3">
            <button type="button" class="btn btn-primary" id="B9" data-toggle="modal" data-target="#exampleModal">Credit</button>
        </div>

        <div class="col-lg-3">
            <button type="button" class="btn btn-secondary" id="B10" data-toggle="modal" data-target="#exampleModal">Collections</button>
        </div>

 

      </div>

</div>

<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        Please contact Karmeeka Account Manager to activate the functionality or send email to sales@karmeeka.com for demo of functionality.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

