
  <app-checkboxes></app-checkboxes>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col" class="pTop pRight"></th>
            <th scope="col" class="pTop">Case ID</th>
            <th scope="col" class="pTop">Status</th>
            <th scope="col" class="pTop">Priority</th>
            <th scope="col" class="pTop">Processor</th>
            <th scope="col" class="pTop">Person Responsible</th>
            <th scope="col" class="pTop">Co-Ordinator</th>
            <th scope="col" class="pTop">Process Deadline</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" id="circle" class="alignLeft">&#9677;</th>
            <td class="alignLeft hover" routerLink="/screen3">12345</td>
            <td class="alignLeft">New</td>
            <td class="alignLeft">High</td>
            <td class="alignLeft">John</td>
            <td class="alignLeft">Mike</td>
            <td class="alignLeft">Marry</td>
            <td class="alignLeft">Today</td>
          </tr>
          <tr>
            <th scope="row" class="pTop pRight"></th>
            <td class="alignLeft pTop hover" routerLink="/screen3">12346</td>
            <td class="pTop">In Process</td>
            <td class="pTop">High</td>
            <td class="pTop">John</td>
            <td class="pTop">Mike</td>
            <td class="pTop">Marry</td>
            <td class="pTop">Today</td>
          </tr>

        </tbody>
      </table>


